<div class="container">
  <h1>{{ user.nombre }}</h1>
  <dl class="list">
    <dt>Departamento</dt>
    <dd>{{ user.departamento }}</dd>
    <dt>Edad</dt>
    <dd>{{ user.edad }}</dd>
    <dt>Experiencia</dt>
    <dd>{{ user.exp }}</dd>
    <dt>Hobies</dt>
    <dd>{{ user.hb }}</dd>
  </dl>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/user-edit', user.id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteUser(user.id)">DELETE</button>
  </div>
</div>
</div>
